<h2>USERS GREETED</h2>

  <body>
   <div class="row">
<div class="col-4">
        <a href="reset">
        <button class="button-primary" value="{{reset}}">Clear Name</button></a>
      </div>
    </div>
  
   
        <p> Hello , {{name}} has been greeted {{counter}} time(s)</p>


    <form action="/greeted" method="get">
         <button class="button-primary">back</button>

  </body>
      