<h2>USERS GREETED</h2>

  <body>
  
   
        <p> Hello , {{name}} has been greeted {{counter}} time(s)</p>


    <form action="/greeted" method="get">
         <button class="button-primary">back</button>

  </body>
      