<header>
  <h1>GREETINGS</h1>
</header>

<body>
   <div class="container">
  <form action="/greet" method="POST">
    <div class="row">
       <div class="col-2">
       <p>name :</p>
       </div>
      <div class="col-6">
       <input class="InputText" name='personName' type="text" placeholder="Enter name here">
      </div>
      <div class="col-4">

      </div>
     
    </div>
    <br>
    <div class="row">
    <div class="col-12">
      <div class="greetCount">{{counter}}</div>
    </div>
  </div>
    <div class="row">
      <div class="col-2">
        <input type="radio" name="languageType" class="languageTypeRadio" value="English">
        <span><p>English</p></span>
      </div>

      <div class="col-2">
        <input type="radio" name="languageType" class="languageTypeRadio" value="Xhosa">
        <span><p>IsiXhosa</p></span>
      </div>

      <div class="col-2">
        <input type="radio" name="languageType" class="languageTypeRadio" value="Afrikaans">
        <span><p>Afrikaans</p></span>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-4">
        <button class="button-primary" type="submit" value="{{greet}}">Greet Me</button>
      </div>
      <div class="col-4">
       <button class="button-primary" type="submit"> <a href="greeted">Show users</a></button>
      </div>
    </div>
   
  </form>
  <div class="row">
    <div class="col-12">
      <div class="namegreeted" value="">
        <h2>{{greetPerson}}</h2></div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
{{#if messages.info}}
<div >
    <h3 class="entry"> {{messages.info}}</h3>
</div>
{{/if}}
 </div>
  </div>
  
  </div>
</body>
